* {
	margin: 0; padding: 0;
}

body {
	font-size: 24px;
	background: #efda90;
}

input:not([type=submit]) {
	font: 24px Georgia, Serif;
	padding: 5px;
	width: 100%;
}

h1 {
	font: bold 50px Helvetica, Sans-Serif;
	letter-spacing: -1px;
	margin: 0 0 10px 0;
}

p {
	font-size: 14px;
	margin: 0 0 20px 0;
}

form { 
	margin: 100px auto;
	width: 500px;
}

form > div {
	margin: 0 0 20px 0;
}